$colors := {
    gray: alpha
    fond: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%)
    bubble-normal: linear-gradient(to right, #ffc3a0, #FFAFBD)
    bubble-blue: linear-gradient(to right, #4CA1AF, #2C3E50)
}